.cover {
  height: 100%;
  position: fixed;
}

.bg {
  background-image: url("../assets/img/cover.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: rgba(255, 255, 255, 0.95);
}

.landing-text {
  position: absolute;
  width: 100%;
  font-weight: bold;
  color: white;
}

.landing-title {
  top: 30%;
  font-size: 64px;
}

.landing-subtitle {
  top: calc(30% + 170px);
  font-size: 48px;
  color: yellow;
  filter: contrast(200%);
  background-color: rgba(30, 135, 240, 0.75);
}


.uk-navbar-link-skin {
  font-size: 24px;
  color: white;
}

.uk-navbar-link-skin-left {
  padding-left: 20px;
}

.uk-navbar-link-skin-right {
  padding-right: 20px;
}

.uk-sticky-fixed .uk-navbar-link-skin {
  color: rgba(30, 135, 240, 1);
}

.no-styling {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.img-prof-size {
  height: 80px;
}

.contact-cards {
  padding-top: 24px;
}

.target {
  position: absolute;
  bottom: 80px;
}
